<div class="result">
    <button type="button" ng-click="toHome()" class="btn btn-success">home</button>
    <p>name<span>:{{result.name}}</span></p><br>
    <p>email<span>:{{result.email}}</span></p><br>
    <p>phone<span>:{{result.phone}}</span></p><br>
    <p>city<span>:{{result.city}}</span></p><br>
    <p>kitchenShape<span>:{{result.kitchenShape}}</span></p><br>
    <p>kitchenSize<span>:{{result.kitchenSize}}</span></p><br>
    <p>kitchenwallA<span>:{{result.kitchenwallA}}</span></p><br>
    <p>kitchenwallB<span>:{{result.kitchenwallB}}</span></p><br>
    <p>kitchenwallC<span>:{{result.kitchenwallC}}</span></p><br>
    <p>kitchenCost1<span>:{{result.kitchenCost1}}</span></p><br>
    <p>kitchenCost2<span>:{{result.kitchenCost2}}</span></p><br>
    <p>bedroomType<span>:{{result.bedroomType}}</span></p><br>
    <p>bedRoomSize<span>:{{result.bedRoomSize}}</span></p><br>
    <p>bedwallA<span>:{{result.bedwallA}}</span></p><br>
    <p>bedwallB<span>:{{result.bedwallB}}</span></p><br>
    <p>bedwallC<span>:{{result.bedwallC}}</span></p><br>
    <p>bedroomCost1<span>:{{result.bedroomCost1}}</span></p><br>
    <p>bedroomCost2<span>:{{result.bedroomCost2}}</span></p><br>
    <div>products<span>:<span style="margin-left:0px" ng-repeat="x in result.products">{{x}} </span></span><div><br>
    <div>interiors<span>:<span style="margin-left:0px" ng-repeat="x in result.interiors">{{x}} </span></span><div><br>
    <h1>amount<span>{{result.amount}}</span></h1><br>
</div> 